@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 15% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 200 15% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 15% 3.9%;
    --primary: 200 15% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 25% 95%;
    --secondary-foreground: 200 15% 30%;
    --muted: 200 25% 95%;
    --muted-foreground: 200 15% 45%;
    --accent: 200 35% 95%;
    --accent-foreground: 200 15% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 25% 90%;
    --input: 200 25% 90%;
    --ring: 200 15% 30%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 200 50% 3.9%;
    --foreground: 0 0% 98%;
    --card: 200 50% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 200 50% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 15% 70%;
    --primary-foreground: 200 50% 3.9%;
    --secondary: 200 35% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 35% 15.9%;
    --muted-foreground: 200 20% 65%;
    --accent: 200 35% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 35% 15.9%;
    --input: 200 35% 15.9%;
    --ring: 200 15% 70%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}